body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  grid-gap: 1px;
  background-color: black;
  padding: 1px;
  width: 30%;
}

.color-container {
  background-color: white;
  aspect-ratio: 1;
}
